.navbar{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
  
}

.menu{
   display: flex;
   justify-content: space-around;
    align-items: center;

    li{
        list-style-type: none;
        margin: 2rem;
        font-size: 2rem;
    }



    .gif{
        width: 200px;
        height:200px;
        border-radius: 100px;
    }
}