.navbar {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    list-style-type: none;
    margin: 0 2rem;
    font-size: 2rem;
    padding: 0;
    // box-shadow: 5x 5x 20px white;
    a {
      text-decoration: none;
      color: red;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.menu2 {
  .gif {
    list-style-type: none;
    transform: translateY(-150px);
    margin: 0 auto;
    width: 200px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }
}
